## 이거 채우기 뭔가 시험 나올 것 같음


* 문제 1: 2024년 브랜드별로 월간 차량 판매 대수 계산
* 문제 2: 2024년 가장 많이 팔린 차 5대를 가장 많이 팔린 차부터 찾기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!wget https://s3-geospatial.s3.us-west-2.amazonaws.com/car_sales_data.csv

--2025-10-14 04:42:09--  https://s3-geospatial.s3.us-west-2.amazonaws.com/car_sales_data.csv
Resolving s3-geospatial.s3.us-west-2.amazonaws.com (s3-geospatial.s3.us-west-2.amazonaws.com)... 3.5.86.133, 52.92.235.2, 3.5.81.165, ...
Connecting to s3-geospatial.s3.us-west-2.amazonaws.com (s3-geospatial.s3.us-west-2.amazonaws.com)|3.5.86.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45379 (44K) [text/csv]
Saving to: ‘car_sales_data.csv’

car_sales_data.csv  100%[===================>]  44.32K  --.-KB/s    in 0.1s

2025-10-14 04:42:10 (339 KB/s) - ‘car_sales_data.csv’ saved [45379/45379]

In [3]:
!ls -tl

total 56
drwx------ 5 root root  4096 Oct 14 04:41 drive
drwxr-xr-x 1 root root  4096 Oct 10 13:36 sample_data
-rw-r--r-- 1 root root 45379 Mar 14  2025 car_sales_data.csv

## Pandas로 먼저 처리하기

In [5]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/2025-2 데이터분석처리 /6주차/car_sales_data.csv')

In [7]:
df.head()

             cars_name  car_price purchase_date brand_name
0  Chevrolet Silverado      35000    2024-11-15  Chevrolet
1              Audi A4      35000    2024-05-08      Tesla
2              Audi A4      24000    2024-01-31        BMW
3      Hyundai Elantra      21000    2024-05-24       Audi
4     Mercedes C-Class      45000    2024-02-28     Nissan

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cars_name      1200 non-null   object
 1   car_price      1200 non-null   int64
 2   purchase_date  1200 non-null   object
 3   brand_name     1200 non-null   object
dtypes: int64(1), object(3)
memory usage: 37.6+ KB

In [10]:
df.describe() #숫자 데이터에 대한 통계

          car_price
count   1200.000000
mean   34723.333333
std    10468.513761
min    21000.000000
25%    24000.000000
50%    35000.000000
75%    45000.000000
max    50000.000000

In [12]:
df.describe(include = object) #문자 데이터에 대한 통계

               cars_name purchase_date brand_name
count               1200          1200       1200
unique                10           357         10
top     Mercedes C-Class    2024-02-29  Chevrolet
freq                 149            11        138

In [13]:
from datetime import datetime

# purchase_date 필드를 문자열에서 datetime 타입으로 변환
df['purchase_date'] = pd.to_datetime(df['purchase_date']) #purchase 열 다 가져와서 날짜 타입으로 바꿔줘

In [14]:
df.info() #3번째 행 Dtype가 datetime으로 바뀜

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cars_name      1200 non-null   object
 1   car_price      1200 non-null   int64
 2   purchase_date  1200 non-null   datetime64[ns]
 3   brand_name     1200 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 37.6+ KB

In [18]:
# 2024년 데이터만 남기기
df_2024 = df[df['purchase_date'].dt.year == 2024]
df_2024

                cars_name  car_price purchase_date brand_name
0     Chevrolet Silverado      35000    2024-11-15  Chevrolet
1                 Audi A4      35000    2024-05-08      Tesla
2                 Audi A4      24000    2024-01-31        BMW
3         Hyundai Elantra      21000    2024-05-24       Audi
4        Mercedes C-Class      45000    2024-02-28     Nissan
...                   ...        ...           ...        ...
1195              Audi A4      38000    2024-12-13    Hyundai
1196        Nissan Altima      25000    2024-06-09        BMW
1197              Audi A4      25000    2024-02-29       Audi
1198          Honda Civic      50000    2024-02-18     Toyota
1199          Honda Civic      50000    2024-05-15      Honda

[1098 rows x 4 columns]

In [21]:
# 문제 1: 2024년 브랜드별로 월간 차량 판매 대수 계산
# 새로운 month라는 필드를 만들고 월 정보를 보존
df_2024['month'] = df_2024['purchase_date'].dt.month
df_2024

/tmp/ipython-input-2002488042.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2024['month'] = df_2024['purchase_date'].dt.month

                cars_name  car_price purchase_date brand_name  month
0     Chevrolet Silverado      35000    2024-11-15  Chevrolet     11
1                 Audi A4      35000    2024-05-08      Tesla      5
2                 Audi A4      24000    2024-01-31        BMW      1
3         Hyundai Elantra      21000    2024-05-24       Audi      5
4        Mercedes C-Class      45000    2024-02-28     Nissan      2
...                   ...        ...           ...        ...    ...
1195              Audi A4      38000    2024-12-13    Hyundai     12
1196        Nissan Altima      25000    2024-06-09        BMW      6
1197              Audi A4      25000    2024-02-29       Audi      2
1198          Honda Civic      50000    2024-02-18     Toyota      2
1199          Honda Civic      50000    2024-05-15      Honda      5

[1098 rows x 5 columns]

In [23]:
# 왼편 끝의 인덱스 존재!
df_2024.head()

             cars_name  car_price purchase_date brand_name  month
0  Chevrolet Silverado      35000    2024-11-15  Chevrolet     11
1              Audi A4      35000    2024-05-08      Tesla      5
2              Audi A4      24000    2024-01-31        BMW      1
3      Hyundai Elantra      21000    2024-05-24       Audi      5
4     Mercedes C-Class      45000    2024-02-28     Nissan      2

In [24]:
# brand_name과 month 필드 정보를 가지고 그룹핑 (groupby)후에 카운트 (size())
#  - Pandas DataFrame에서 groupby는 멀티 인덱스(brand_name, month)를 갖는 Series를 리턴함.
#  - 결과를 보면 카운트 필드에는 이름이 없음
# 이를 이제 Pandas DataFrame으로 바꾸어주어야함
df_2024 .groupby(['brand_name', 'month']).size()

brand_name  month
Audi        2        12
            3         9
            4        14
            5        11
            6         8
                     ..
Toyota      8         7
            9        14
            10        9
            11        8
            12        9
Length: 113, dtype: int64

In [25]:
# Pandas series(인덱스 + 컬럼 하나)가 갖고 있는 multi-index를 없애고 일반 컬럼으로 반환하기 위해서 reset_index를 호출
# - Pandas의 자료구조들은 index를 갖고 있지만 Spark의 DataFrame은 index가 없음
# - 그러면서 series의 이름을 sales_count로 지정
monthly_sales_by_brand = df_2024.groupby(['brand_name','month']).size().reset_index(name = 'sales_count')

In [26]:
monthly_sales_by_brand

    brand_name  month  sales_count
0         Audi      2           12
1         Audi      3            9
2         Audi      4           14
3         Audi      5           11
4         Audi      6            8
..         ...    ...          ...
108     Toyota      8            7
109     Toyota      9           14
110     Toyota     10            9
111     Toyota     11            8
112     Toyota     12            9

[113 rows x 3 columns]

In [29]:
# 문제 2: 2024년 가장 많이 팔린 차 5대를 가장 많이 팔린 차부터 찾기
top_5_cars = df_2024.groupby('cars_name')\
    .size().reset_index(name = 'sales_count')\
    .sort_values(by = 'sales_count', ascending = False)

In [ ]:
top_5_cars.head(5)

             cars_name  sales_count
6     Mercedes C-Class          140
5      Hyundai Elantra          126
2  Chevrolet Silverado          115
1         BMW 3 Series          114
9         Toyota Camry          112

## Spark으로 처리하기

In [31]:
# PySpark 3.5.5이 Google Colab에서 자동으로 설치가 되어있음 (2025.4월 기준)
from pyspark.sql import SparkSession
from pyspark.sql.functions import month, count, year, desc

# SparkSession 생성
spark = SparkSession.builder.appName("CarSalesAnalysis").master("local[*]").getOrCreate()

In [32]:
!pip freeze | grep pyspark

pyspark==3.5.1

In [33]:
# 판매 정보를 Spark DataFrame으로 로드
df = spark.read.option("header", "true").csv("/content/drive/MyDrive/2025-2 데이터분석처리 /6주차/car_sales_data.csv")

In [35]:
# Pandas DataFrame과 다르게 Index가 존재하지 않음
df. show()

+-------------------+---------+-------------+----------+
|          cars_name|car_price|purchase_date|brand_name|
+-------------------+---------+-------------+----------+
|Chevrolet Silverado|    35000|   2024-11-15| Chevrolet|
|            Audi A4|    35000|   2024-05-08|     Tesla|
|            Audi A4|    24000|   2024-01-31|       BMW|
|    Hyundai Elantra|    21000|   2024-05-24|      Audi|
|   Mercedes C-Class|    45000|   2024-02-28|    Nissan|
|   Mercedes C-Class|    45000|   2024-12-01|   Hyundai|
|            Audi A4|    47000|   2024-05-23| Chevrolet|
|   Mercedes C-Class|    45000|   2024-10-25|       BMW|
|    Hyundai Elantra|    25000|   2024-10-13|      Audi|
|            Audi A4|    47000|   2024-05-17|      Audi|
|        Honda Civic|    42000|   2024-09-15|    Nissan|
|   Mercedes C-Class|    45000|   2025-01-10| Chevrolet|
|      Tesla Model 3|    35000|   2024-08-25|    Nissan|
|        Honda Civic|    42000|   2024-04-29|     Tesla|
|       Toyota Camry|    21000|   2025-01-27|    Nissan|
|       BMW 3 Series|    45000|   2024-08-05| Chevrolet|
|   Mercedes C-Class|    38000|   2024-04-12|      Ford|
|Chevrolet Silverado|    47000|   2024-06-17|  Mercedes|
|    Hyundai Elantra|    47000|   2024-06-14|      Audi|
|      Nissan Altima|    38000|   2024-02-16|   Hyundai|
+-------------------+---------+-------------+----------+
only showing top 20 rows

In [36]:
df.printSchema()

root
 |-- cars_name: string (nullable = true)
 |-- car_price: string (nullable = true)
 |-- purchase_date: string (nullable = true)
 |-- brand_name: string (nullable = true)

In [37]:
df.count()

1200

In [38]:
df.rdd.getNumPartitions()

1

In [41]:
# purchase_date 필드를 문자열에서 datetime 타입으로 변환
df = df.withColumn("purchase_date", df["purchase_date"].cast("date"))

In [46]:
# 2024년 데이터만 남기기
df_2024 = df.filter(year("purchase_date") == 2024)

In [47]:
# 문제 1: 2024년 브랜드별로 월간 차량 판매 대수 계산
# 새로운 month라는 필드를 만들고 월 정보를 보존
df_2024 = df_2024.withColumn("month", month("purchase_date"))

In [48]:
df_2024.show(5)

+-------------------+---------+-------------+----------+-----+
|          cars_name|car_price|purchase_date|brand_name|month|
+-------------------+---------+-------------+----------+-----+
|Chevrolet Silverado|    35000|   2024-11-15| Chevrolet|   11|
|            Audi A4|    35000|   2024-05-08|     Tesla|    5|
|            Audi A4|    24000|   2024-01-31|       BMW|    1|
|    Hyundai Elantra|    21000|   2024-05-24|      Audi|    5|
|   Mercedes C-Class|    45000|   2024-02-28|    Nissan|    2|
+-------------------+---------+-------------+----------+-----+
only showing top 5 rows

In [50]:
# brand_name과 month로 그룹핑하고 카운트한 다음에 이를 sales_count라는 필드로 생성
# Pandas처럼 Series라는 것이 존재하지 않음
monthly_sales_by_brand = df_2024.groupBy("brand_name", "month").agg(count("*").alias("sales_count"))

In [51]:
# 앞서 연산들은 이제서야 실행됨 -> 이를 Lazy Execution이라 부름. Pandas는 Eager Execution (바로바로 처리)
monthly_sales_by_brand.show()

+----------+-----+-----------+
|brand_name|month|sales_count|
+----------+-----+-----------+
|   Hyundai|    5|          8|
|    Nissan|    8|          5|
|  Mercedes|    4|         13|
|     Tesla|    4|         10|
|      Audi|   12|          9|
|   Hyundai|    2|         10|
| Chevrolet|   12|         14|
|      Ford|    3|         11|
|      Audi|    8|          8|
|      Audi|    7|          9|
| Chevrolet|    7|          7|
|       BMW|    8|          3|
|      Ford|    9|          5|
|       BMW|    3|          8|
|   Hyundai|   11|         11|
|       BMW|    9|         10|
|       BMW|    2|         14|
|  Mercedes|    5|          4|
| Chevrolet|   10|          8|
|    Nissan|    5|          9|
+----------+-----+-----------+
only showing top 20 rows

In [52]:
# 결과를 Pandas DataFrame으로 받아와 보기
# 데이터가 작은 경우에만 가능 (이 경우는 아무 문제 없음)
pd_df = monthly_sales_by_brand.toPandas()

In [ ]:
pd_df.head()

  brand_name  month  sales_count
0    Hyundai      5            8
1     Nissan      8            5
2   Mercedes      4           13
3      Tesla      4           10
4       Audi     12            9

In [55]:
# 문제 2: 2024년 가장 많이 팔린 차 5대를 가장 많이 팔린 차부터 찾기
top_5_cars = df_2024.groupby('cars_name')\
    .agg(count('*').alias("sales_count"))\
    .orderBy(desc("sales_count")).limit(5)

In [ ]:
top_5_cars.show()

+-------------------+-----------+
|          cars_name|sales_count|
+-------------------+-----------+
|   Mercedes C-Class|        140|
|    Hyundai Elantra|        126|
|Chevrolet Silverado|        115|
|       BMW 3 Series|        114|
|       Toyota Camry|        112|
+-------------------+-----------+

In [ ]:
spark.stop()